## Energy saved from recycling
<p>Did you know that recycling saves energy by reducing or eliminating the need to make materials from scratch? For example, aluminum can manufacturers can skip the energy-costly process of producing aluminum from ore by cleaning and melting recycled cans. Aluminum is classified as a non-ferrous metal.</p>
<p>Singapore has an ambitious goal of becoming a zero-waste nation. The amount of waste disposed of in Singapore has increased seven-fold over the last 40 years. At this rate, Semakau Landfill, Singaporeâ€™s only landfill, will run out of space by 2035. Making matters worse, Singapore has limited land for building new incineration plants or landfills.</p>
<p>The government would like to motivate citizens by sharing the total energy that the combined recycling efforts have saved every year. They have asked you to help them.</p>
<p>You have been provided with three datasets. The data come from different teams, so the names of waste types may differ.</p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:16px"><b>datasets/wastestats.csv - Recycling statistics per waste type for the period 2003 to 2017</b>
    </div>
    <div>Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>waste_type: </b>The type of waste recycled.</li>
    <li><b>waste_disposed_of_tonne: </b>The amount of waste that could not be recycled (in metric tonnes).</li>
    <li><b>total_waste_recycle_tonne: </b>The amount of waste that could be recycled (in metric tonnes).</li>
    <li><b>total_waste_generated: </b>The total amount of waste collected before recycling (in metric tonnes).</li>
    <li><b>recycling_rate: </b>The amount of waste recycled per tonne of waste generated.</li>
    <li><b>year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/2018_2019_waste.csv - Recycling statistics per waste type for the period 2018 to 2019</b>
    </div>
    <div> Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>Waste Type: </b>The type of waste recycled.</li>
    <li><b>Total Generated: </b>The total amount of waste collected before recycling (in thousands of metric tonnes).</li> 
    <li><b>Total Recycled: </b>The amount of waste that could be recycled. (in thousands of metric tonnes).</li>
    <li><b>Year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/energy_saved.csv -  Estimations of the amount of energy saved per waste type in kWh</b>
    </div>
<ul>
    <li><b>material: </b>The type of waste recycled.</li>
    <li><b>energy_saved: </b>An estimate of the energy saved (in kiloWatt hour) by recycling a metric tonne of waste.</li> 
    <li><b>crude_oil_saved: </b>An estimate of the number of barrels of oil saved by recycling a metric tonne of waste.</li>
</ul>

</div>
<pre><code>
</code></pre>

In [34]:
import pandas as pd
import numpy as np

In [35]:
df_1 = pd.read_csv('datasets/wastestats.csv')
df_1.head()

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
0,Food,679900,111100.0,791000,0.14,2016
1,Paper/Cardboard,576000,607100.0,1183100,0.51,2016
2,Plastics,762700,59500.0,822200,0.07,2016
3,C&D,9700,1585700.0,1595400,0.99,2016
4,Horticultural waste,111500,209000.0,320500,0.65,2016

In [36]:
# df_sss = pd.read_csv('datasets/wastestats.csv')
# df_sss.head()

In [37]:
# df_sss = df_sss[df_sss['year'] >= 2015]

In [38]:
# df_sss_waste = pd.pivot_table(df_1, values='total_waste_generated_tonne', \
#               index='year', columns='waste_type')
# df_sss_waste.head()

In [39]:
# df_sss_waste.loc[:, 'Ash & Sludge'] = df_sss_waste.loc[:,
#                                                        ['Ash & Sludge', 'Ash and sludge']
#                                                       ].sum(axis=1)

In [40]:
# df_sss_waste.head()

In [41]:
df_2 = pd.read_csv('datasets/2018_2019_waste.csv')
df_2.head()

,Waste Type,Total Generated ('000 tonnes),Total Recycled ('000 tonnes),Year
0,Construction& Demolition,1440,1434,2019
1,Ferrous Metal,1278,1270,2019
2,Paper/Cardboard,1011,449,2019
3,Plastics,930,37,2019
4,Food,7440,136,2019

In [42]:
df_3 = pd.read_csv('datasets/energy_saved.csv')
df_3.head()

,The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram) per waste type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,1 barrel oil is approximately 159 litres of oil,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,material,Plastic,Glass,Ferrous Metal,Non-Ferrous Metal,Paper
3,energy_saved,5774 Kwh,42 Kwh,642 Kwh,14000 Kwh,4000 kWh
4,crude_oil saved,16 barrels,NaN,1.8 barrels,40 barrels,1.7 barrels

In [43]:
df_3.shape

(5, 6)

In [44]:
df_1.head(10)

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
0,Food,679900,111100.0,791000,0.14,2016
1,Paper/Cardboard,576000,607100.0,1183100,0.51,2016
2,Plastics,762700,59500.0,822200,0.07,2016
3,C&D,9700,1585700.0,1595400,0.99,2016
4,Horticultural waste,111500,209000.0,320500,0.65,2016
5,Wood,119100,411600.0,530700,0.78,2016
6,Ferrous metal,6000,1351500.0,1357500,0.99,2016
7,Non-ferrous metal,1300,95900.0,97200,0.99,2016
8,Used slag,4100,247000.0,251100,0.98,2016
9,Ash & Sludge,199000,28300.0,227300,0.13,2016

In [45]:
df_1.shape

(225, 6)

In [46]:
df_1 = df_1[df_1['year'] >= 2015]

In [47]:
df_1_waste = pd.pivot_table(df_1, values='total_waste_recycled_tonne', \
              index='year', columns='waste_type')
df_1_waste.head()

waste_type,Ash & Sludge,Ash and sludge,C&D,Construction debris,Ferrous metal,Food,Glass,Horticultural waste,Non-ferrous metal,Non-ferrous metals,...,"Others (stones, ceramics & rubber etc)","Others (stones, ceramics & rubber etc.)",Paper/Cardboard,Plastic,Plastics,Scrap tyres,Textile/Leather,Total,Used slag,Wood
year,,,,,,,,,,,,,,,,,,,,,
2015,25200.0,NaN,1402900.0,NaN,1333300.0,104100.0,14600.0,237200.0,160400.0,NaN,...,5700.0,NaN,603700.0,NaN,57800.0,32800.0,12500.0,4649700.0,365800.0,293700.0
2016,28300.0,NaN,1585700.0,NaN,1351500.0,111100.0,14700.0,209000.0,95900.0,NaN,...,NaN,7000.0,607100.0,NaN,59500.0,29700.0,10900.0,4769000.0,247000.0,411600.0
2017,NaN,28600.0,NaN,1599900.0,1371000.0,133000.0,12400.0,220700.0,NaN,92200.0,...,NaN,NaN,568800.0,51800.0,NaN,33000.0,9600.0,4724300.0,269400.0,326800.0

In [48]:
df_1_rate = pd.pivot_table(df_1, values='recycling_rate', \
              index='year', columns='waste_type')
df_1_rate.head()

waste_type,Ash & Sludge,Ash and sludge,C&D,Construction debris,Ferrous metal,Food,Glass,Horticultural waste,Non-ferrous metal,Non-ferrous metals,...,"Others (stones, ceramics & rubber etc)","Others (stones, ceramics & rubber etc.)",Paper/Cardboard,Plastic,Plastics,Scrap tyres,Textile/Leather,Total,Used slag,Wood
year,,,,,,,,,,,,,,,,,,,,,
2015,0.13,NaN,0.99,NaN,0.99,0.13,0.19,0.66,0.89,NaN,...,0.02,NaN,0.51,NaN,0.07,0.92,0.08,0.61,0.99,0.79
2016,0.13,NaN,0.99,NaN,0.99,0.14,0.20,0.65,0.99,NaN,...,NaN,0.02,0.51,NaN,0.07,0.91,0.07,0.61,0.98,0.78
2017,NaN,0.12,NaN,0.99,0.99,0.16,0.17,0.67,NaN,0.98,...,NaN,NaN,0.50,0.06,NaN,0.92,0.06,0.61,0.99,0.77

In [ ]:
df_1_waste.columns

In [ ]:
prep_cols = [('Ash & Sludge', 'Ash and sludge'),
             ('C&D', 'Construction debris'),
             ('Non-ferrous metal', 'Non-ferrous metals'),
             ('Others (stones, ceramic, rubber, etc.)', 'Others (stones, ceramics & rubber etc)'),
             ('Others (stones, ceramic, rubber, etc.)', 'Others (stones, ceramics & rubber etc.)'),
             ('Plastic', 'Plastics')]

In [ ]:
for i in [df_1_waste, df_1_rate]:
    for s1, s2 in prep_cols:
        i.loc[:, s1] = i.loc[:, [s1, s2]].sum(axis=1)
        i.drop(s2, axis=1, inplace=True)
        
df_1_waste.head()

In [ ]:
df_1_rate.head()

In [ ]:
imp_cols = ['Plastic', 'Glass', 'Ferrous metal', 'Non-ferrous metal']

df_1_rate = df_1_rate.loc[:, imp_cols]

In [ ]:
df_1_rate.head()

In [ ]:
df_1_waste = df_1_waste.loc[:, imp_cols]
df_1_waste.head()

In [ ]:
df_1_res = df_1_rate.mul(df_1_waste)
df_1_res.head()

In [ ]:
# Trying another approach
df_1_res = df_1_waste

In [ ]:
df_3.head()

In [ ]:
df_3_app = pd.DataFrame({'Material': df_3.iloc[2, 1:],
                         'Energy Saved': df_3.iloc[3, 1:]})
#                         index=range(5))
df_3_app.reset_index(drop=True, inplace=True)
df_3_app.head()

In [ ]:
for i, col in enumerate(imp_cols):
    df_1_res.loc[:, col] = df_1_res.loc[:, col].mul(int(df_3_app.iloc[i, 1].split()[0]))
    
df_1_res.head()

In [ ]:
df_1_res['Result'] = df_1_res.sum(axis=1)
df_1_res.head()

In [ ]:
df_1_res.drop(imp_cols, axis=1, inplace=True)
df_1_res.head()

In [ ]:
df_2.head()

In [ ]:
df_2_waste = pd.pivot_table(df_2, values="Total Recycled ('000 tonnes)", \
              index='Year', columns='Waste Type')
df_2_waste.head()

In [ ]:
imp_cols = ['Plastics', 'Glass', 'Ferrous Metal', 'Non-Ferrous Metal']
df_2_waste = df_2_waste.loc[:, imp_cols]

df_2_res = df_2_waste
df_2_res.head()

In [ ]:
for i, col in enumerate(imp_cols):
    df_2_res.loc[:, col] = df_2_res.loc[:, col].mul(int(df_3_app.iloc[i, 1].split()[0]))
    
df_2_res.head()

In [ ]:
df_2_res['Result'] = df_2_res.sum(axis=1)
df_2_res.head()

In [ ]:
df_2_res.drop(imp_cols, axis=1, inplace=True)
df_2_res.head()

In [ ]:
results = np.concatenate((df_1_res.values.reshape(3), df_2_res.values.reshape(2) * 1000))

print(results)

In [ ]:
annual_energy_savings = pd.DataFrame(data={'year': range(2015, 2020), 'total_energy_saved': results})
annual_energy_savings.set_index('year', inplace=True)
annual_energy_savings.total_energy_saved = annual_energy_savings.total_energy_saved.astype('int')
annual_energy_savings.head()